/* Shared Hero section styling */
.Sect {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(to left, rgba(243, 226, 198, 1), rgb(255, 255, 255, 1));
    padding-bottom: 8%;
    z-index: 3;
}

.logo {
    width: 215px;
    height: auto;
    margin-bottom: 20px;
}

/* Hero image styling */
.Sect-img {
    position: absolute;
    height: 100%;
    left: -1%;
    top: 0;
    z-index: 2;
}

/* Hero text styling */
.Sect-text {
    min-width: 600px;
    width: 50%;
    margin-right: 5%;
    text-align: right;
    z-index: 2;
    padding: 40px;
    background: linear-gradient(-135deg, rgba(0, 0, 0, 0.7) 0%, rgba(116, 85, 0, 0.3) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.Sect h1 {
    font-size: 3em;
    margin: 0;
    color: #f3e2c6;
    text-align: right;
}

.Sect p {
    font-size: 1.5em;
    margin: 10px 0 30px;
    color: #f3e2c6;
    text-align: right;
}

/* Button styling */
.button {
    background-color: #5a3b09;
    color: #f3e2c6;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #745500;
}

/* Tablet styles */
@media (max-width: 768px) {
    .Sect-img {
        height: 80%;
        left: -50%;
    }

    .Sect-text {
        min-width: 300px;
        max-width: 700px;
        width: 80%;
        margin: 0;
    }

    .Sect-text img {
        width: 150px;
    }

    .logo {
        margin: 0 auto 20px;
    }

    .Sect h1 {
        font-size: 3em;
    }

    .Sect p {
        font-size: 1.2em;
    }

    .button {
        font-size: 1em;
    }
}

/* Mobile styles */
@media (max-width: 480px) {
    .Sect-img {
        height: 100%;
        left: -110%;
    }

    .Sect-text img {
        width: 120px;
    }

    .logo {
        width: 180px;
    }

    .Sect h1 {
        font-size: 2em;
    }

    .Sect p {
        font-size: 1em;
    }

    .button {
        font-size: 1em;
    }
}