.products-card-container {
  height: 90vh;
}

.products-card {
  display: flex;
  margin: 20px auto;
  background-color: #f3e2c6;
  padding: 15px;
  width: 90vw;
  height: 75vh;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

/* Hover effect */
.products-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Layout for image and details sections */
.images-section {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.images-section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
  object-position: top;
}

.products-card:hover .images-section img {
  transform: scale(1.1);
}

/* Items label styling */
.items-label {
  position: absolute;
  top: 20px;
  left: 25px;
  background-color: #f3e2c6;
  color: #704e22;
  padding: 10px 50px;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.products-card:hover .items-label {
  transform: scale(1.1);
}

/* Details section */
.details-section {
  padding: 0 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  width: 50%;
  transition: padding 0.3s ease;
}

.details-section h2,
.details-section h3 {
  color: #704e22;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.details-section ul {
  list-style-type: none;
  padding: 0;
}

.details-section p,
.details-section ul li {
  font-size: 16px;
  margin: 2px 0;
  color: #555;
  transition: color 0.3s ease;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .products-card {
    flex-direction: column;
    padding: 10px;
  }

  .images-section {
    width: 100%;
  }

  .details-section {
    width: 100%;
    padding: 20px;
  }

  .details-section h2,
  .details-section h3 {
    font-size: 20px;
    color: #704e22;
  }

  .items-label {
    padding: 8px 30px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .details-section h2,
  .details-section h3 {
    font-size: 18px;
  }

  .details-section p,
  .details-section ul li {
    font-size: 14px;
  }

  .items-label {
    padding: 5px 20px;
  }
}