.contactInfo {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  color: #000;
  margin: auto 0;
  font: 400 1.25rem "Aoboshi One", -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .contactInfo {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .contactInfo {
    margin-top: 20px;
  }
}

.contactDetail {
  margin-top: 2rem;
  font: 1rem ABeeZee, sans-serif;
}

@media (max-width: 991px) {
  .contactDetail {
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .contactDetail {
    margin-left: 0.5rem;
  }
}

.contactLabel {
  margin-top: 3rem;
}

@media (max-width: 991px) {
  .contactLabel {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .contactLabel {
    margin-top: 2.5rem;
  }
}

.phoneLabel {
  align-self: stretch;
  margin-top: 3.5rem;
}

@media (max-width: 991px) {
  .phoneLabel {
    margin: 40px 10px 0 0;
  }
}

@media (max-width: 768px) {
  .phoneLabel {
    margin: 2.5rem 0.625rem 0 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
