/* About Section */
.aboutUS {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #f3e2c6;
    box-sizing: border-box;
    z-index: 10;
}

/* About Text */
.aboutUS-text {
    max-width: 55%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}


.aboutUS-text h2 {
    font-size: 3rem;
    color: #7a572b;
    margin-bottom: 20px;
}

.aboutUS-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

/* About Image */
.aboutUS img {
    background-size: cover;
    background-position: center;
    width: 30%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transform: translate(-5%, 0%);
    object-fit: cover;
    
}



/* Responsive Adjustments */
@media (max-width: 1024px) {
    .aboutUS-text {
        max-width: 60%;
    }

    .aboutUS img {
        width: 35%;
    }

    .aboutUS-text h2 {
        font-size: 2.5rem;
    }

    .aboutUS-text p {
        font-size: 1.1rem;
    }

    .vertical-text {
        font-size: 3rem;
        color: #7a572b;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .aboutUS {
        flex-direction: column;
        text-align: center;
        padding: 30px 15px;
    }

    .aboutUS-text, .aboutUS img {
        max-width: 100%;
        width: 100%;
        
    }

    .aboutUS img {
        margin-bottom: 20px;
        transform: translate(0%, 0%);
        
    }

    .aboutUS-text h2 {
        font-size: 2rem;
    }

    .aboutUS-text p {
        font-size: 1rem;
    }
    .vertical-text {
        font-size: 3rem;
        color: #7a572b;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .aboutUS-text h2 {
        font-size: 1.8rem;
    }

    .aboutUS-text p {
        font-size: 0.9rem;
    }

    .vertical-text {
        color: #7a572b;
        font-weight: bold;
        text-align: center;
    }
}

