/* General Styles */
.about2-us-section {
  padding-left: 50px;
  padding-right: 50px;
}

.about2-us-content,
.mission-content,
.customer-care-content {
  display: flex;
  align-items: center;
  margin: 20px 20px;
  padding: 15px;
}

.about2-us-content .text,
.customer-care-content .text {
  order: 1;
  text-align: left;
}

.about2-us-content .image,
.customer-care-content .image {
  order: 2;
  justify-content: flex-end;
}

.mission-content .image {
  order: 1;
  justify-content: flex-start;
}

.mission-content .text {
  order: 2;
  text-align: right;
  padding-right: 10px;
}

.text {
  flex: 1;
  padding: 5px;
}

.text h2 {
  text-align: left;
}

.about2-us-content .text h2{
  text-align: left;
  font-size:30px;
}
.mission-content .text h2 {
  text-align: right;
  font-size:30px;
}

.customer-care-content .text h2 {
  text-align: left;
  font-size:30px;
}

.text p {
  width: 100%;
}

.image {
  flex: 1;
  display: flex;
  padding: 5px;
}

.image img {
  max-width: 100%;
  height: 300px;
}

/* Responsive Design */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .about2-us-content,
  .mission-content,
  .customer-care-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mission-content .text,
  .about2-us-content .text,
  .customer-care-content .text {
    order: 1;
    text-align: center;
    padding: 10px;
  }

  .about2-us-content .text h2{
    text-align: center;
    
  }

  .mission-content .text h2 {
    text-align: center;
    
  }
  
  .customer-care-content .text h2 {
    text-align: center;
  }

  .mission-content .image,
  .about2-us-content .image,
  .customer-care-content .image {
    order: 2;
    justify-content: center;
  }

  .image img {
    height: auto;
    width: 80%;
    margin: 0 auto;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .about2-us-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    padding: 5px;
  }

  .image img {
    width: 100%;
    height: auto;
  }
  .about2-us-content .text h2{
    text-align: center;
    font-size:25px;
  }

  .mission-content .text h2 {
    text-align: center;
    font-size:25px;
  }
  
  .customer-care-content .text h2 {
    text-align: center;
    font-size:25px;
  }
}
