/* General Styles */
.section-style {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.about2-us-section {
  display: flex;
  flex-direction: column;
}

.about2-us-content,
.mission-content,
.customer-care-content {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 40px;
  /* Add considerable space between sections */
}

.about2-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.about2-us-content .text,
.customer-care-content .text {
  order: 1;
  text-align: left;
}

.about2-us-content .image,
.customer-care-content .image {
  order: 2;
  justify-content: flex-end;
}

.mission-content .image {
  order: 1;
  justify-content: flex-start;
}

.mission-content .text {
  order: 2;
  text-align: right;
  padding-right: 10px;
}

.text {
  flex: 1;
  padding: 20px;
  padding-right: 20px;
  order: 1;
  text-align: left;
}

.text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4a2c2a;
  /* Dark brown color for titles */
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #b8a397;
  /* Light brown color for paragraphs */
  margin-bottom: 20px;
  text-align: justify;
}

.image {
  flex: 1;
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}

.image-shuffle {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  order: 2;
  margin: 20px 20px;
  /* Add margin around the scattered image section */
}

.image img {
  max-width: 100%;
  height: 300px;
}

.customer-care-content .image img {
  object-fit: cover;
  width: min(35vw, 80vh);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.shuffled-image {
  width: min(15vw, 30vh);
  height: min(15vw, 30vh);
  margin: -10px;
  position: relative;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.shuffled-image:nth-child(1) {
  transform: translate(-10px, -10px) rotate(-10deg);
}

.shuffled-image:nth-child(2) {
  transform: translate(10px, -5px) rotate(5deg);
}

.shuffled-image:nth-child(3) {
  transform: translate(-5px, 10px) rotate(15deg);
}

.shuffled-image:nth-child(4) {
  transform: translate(5px, 5px) rotate(-5deg);
}

.section-divider {
  width: 80%;
  margin: 2rem auto;
  border: none;
  border-top: 5px solid #f3e2c6;
  /* Very light brown color */
}

/* Responsive Design */

/* For tablets and smaller devices */
@media (max-width: 1024px) {
  .about2-us-content {
    flex-direction: column;
  }

  .text {
    margin-bottom: 20px;
  }

  .image-shuffle {
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .image-shuffle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 768px) {


  .about2-us-content,
  .mission-content,
  .customer-care-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mission-content .text,
  .about2-us-content .text,
  .customer-care-content .text {
    order: 1;
    text-align: center;
    padding: 10px;
  }

  .about2-us-content .text h2 {
    text-align: center;

  }

  .about2-us-content .shuffled-image {
    width: min(30vw, 40vh);
    height: min(30vw, 40vh);
  }

  .mission-content .text h2 {
    text-align: center;

  }

  .customer-care-content .text h2 {
    text-align: center;
  }

  .customer-care-content .image img {
    width: 80vw;
  }

  .mission-content .image,
  .about2-us-content .image,
  .customer-care-content .image {
    order: 2;
    justify-content: center;
  }


  .about2-us-content .image-shuffle {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-shuffle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
  }

  .shuffled-image {
    width: min(22vw, 40vh);
    height: min(22vw, 40vh);
  }
}

@media (min-width: 1025px) {
  .image-shuffle {
    margin-top: 40px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .shuffled-image {
    width: min(25vw, 60vh);
    height: min(25vw, 60vh);
  }

  .about2-us-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    padding: 5px;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  .about2-us-content .text h2 {
    text-align: center;
    font-size: 25px;
  }

  .mission-content .text h2 {
    text-align: center;
    font-size: 25px;
  }

  .customer-care-content .text h2 {
    text-align: center;
    font-size: 25px;
  }
}

/* Remove border from last section */
.customer-care-content.section-style {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}